<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>RyanMusic</string>
	<key>CFBundleIdentifier</key>
	<string>com.ryancheese.RyanMusic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RyanMusic</string>
	<key>CFBundleDisplayName</key>
	<string>RyanMusic</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.9</string>
	<key>CFBundleVersion</key>
	<string>2.0.9</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleMusicUsageDescription</key>
	<string>RyanMusic 需要访问 Apple Music，以便搜索、播放你的资料库和歌单。</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>RyanMusic 需要控制音乐 App，以便播放你资料库和目录里的歌曲。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
